{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% assign excerpt = post.excerpt | markdownify | remove: "<p>" | remove: "</p>" | strip %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <a href="{{ base_path }}{{ post.url }}"><i class="fa fa-fw fa-angle-double-right icon-pad-right"></i>{{ title | strip }}</a>{% if excerpt %}, {{ excerpt }}{% endif %}
  </article>
</div>
